.btn {
  @include button($color-orange, $color-orange-dark);

  padding: 1em;
  text-align: center;
  margin: 1em 0;
  line-height: 28px;
  width: 300px;
  height: 60px;
  font-size: rem-calc(18px);

  html[data-text-size="large"] & {
    height: 90px;
  }

  html[data-contrast="true"] & {
    background: $color-black;
  }

  &:active, &:focus {
    border: 1px solid black;
    background: $color-orange;
  }
}

.ctct-form {
  position: relative;

  #ctct-submitted {
    @include button($color-orange, $color-orange-dark);

    height: 2.5rem;
    border: none;
    position: absolute;
    top: 39px;
    right: 0;

    &:active, &:focus {
      border: 1px solid black;
      background: $color-orange;
    }

    html[data-contrast="true"] & {
      background: $color-black;
      border: 1px solid $color-white;
    }
  }
}

.wpcf7-submit {
  background: $color-blue;
  color: $color-white;
  padding: 10px 20px;
  border: 0;
  box-shadow: $boxshadow;

  html[data-contrast="true"] & {
    background: $color-black;
    border: 1px solid $color-white;

    &:hover, &:focus {
      background: $color-white;
      color: $color-black;
    }
  }
}
