.wpcf7 {
  h3 {
    margin-top: 2em;
  }

  // [type="checkbox"]:not(:checked), [type="checkbox"]:checked,
  // [type="radio"]:not(:checked), [type="radio"]:checked {
  //   position: static;
  //   opacity: 1;
  //   pointer-events: auto;
  // }

  .wpcf7-checkbox {
    column-count: 2;
    display: block;

    .wpcf7-list-item {
      display: block;
    }
  }

  .radio-480 {
    display: block;
    padding-top: 1em;

    .wpcf7-list-item .first {
      margin: 0;
    }
  }
}

#__lpform_email_icon {
  display: none;
}

#signup {
  input[type=text]:not(.browser-default) {
    border: 2px solid $color-blue;
    width: 300px;
    background-image: none !important;

    html[data-contrast="true"] & {
      background: $color-black;
      border: 1px solid $color-white;
    }
  }

  .input-field label {
    left: 5px;
    top: 5px;
  }

  .input-field label:not(.label-icon).active {
    transform: translateY(-22px) scale(0.8);
  }
}

.search-form {
  input[type=search]:not(.browser-default) {
    border: 2px solid $color-blue;
    width: 70%;
    height: 2em;

    html[data-contrast=true] & {
      background: #4a4a4a;
      border: 1px solid #fff;
      height: 2.1em;
      padding-top: 2px;
    }
  }

  input[type=text]:not(.browser-default) {
    border: 2px solid $color-blue;
    width: 300px;
    background-image: none !important;
  }

  .search-submit {
    background: $color-blue;
    color: #fff;
    border: none;
    border-top: 2px solid $color-blue;
    height: 2.2em;
    position: relative;
    right: 5px;

    html[data-contrast=true] & {
      background: #4a4a4a;
      border: 1px solid #fff;
      height: 2.33em;
      bottom: 1px;
    }
  }
}
