.nav-primary {
  background: $color-blue;
  font-weight: 300;
  position: relative;
  z-index: 50;

  html[data-contrast="true"] & {
    background: $color-black;
    color: $color-white;
    border: 1px solid $color-white;
  }

  ul {
    display: flex;
    justify-content: space-around;

    .menu-item-has-children {
      a {
        cursor: default;
      }

      .sub-menu {
        a {
          cursor: pointer;
        }
      }

      &:hover, &:focus, &.hover {
        .sub-menu {
          height: auto;
        }
      }
    }

    @media #{$large-and-up} {
      .sub-menu {
        max-height: 300em;
        flex-direction: column;
        position: absolute;
        z-index: 10;
        background: $color-blue;
        transition: max-height 0.3s ease;
        height: 0;
        overflow: hidden;
      }
    }

    @media #{$medium-and-down} {
      flex-flow: nowrap column;
      margin: 0;
      width: 100%;
      transition: max-height 0.3s ease;
      max-height: 0;
      overflow: hidden;
      background: $color-blue;
      text-align: center;

      li {
        width: 100%;

        &.hover {
          .sub-menu {
            max-height: 300em;
          }
        }
      }

      .menu-item-has-children {
        a {
          cursor: pointer;
        }

        .sub-menu {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease;
          background: $color-blue-light;

          a {
            color: $color-gray-dark;
          }
        }
      }

      .mobilenav-active & {
        max-height: 300em;
      }
    }
  }
}

nav {
  line-height: 62px;
}

nav ul li.active {
  background-color: $color-blue-dark;
}

.menu-trigger-wrapper {
  padding-top: 3px;
  position: relative;
  text-align: right;
  padding-right: 20px;
  height: 50px;

  [type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  input:focus + label {
    outline: $color-gray-dark auto 5px;
  }

  label {
    display: inline-block;
    text-decoration: none;
    height: 50px;
    width: 50px;
    text-align: center;
    color: $color-white;

    i {
      font-size: 2em;
      line-height: 1.75em;
      position: relative;
      right: 32px;
    }

    &:hover {
      color: rgba($color-white, 0.7);
      cursor: pointer;
    }

    &::before {
      top: 16px;
      left: 10px;
      display: none;
    }
  }
}
