.home {
  .hero {
    text-align: center;
    position: relative;
    overflow: hidden;

    img {
      position: relative;
      object-fit: cover;
      display: block;
      margin: 0 auto;
      z-index: 1;

      @media (min-width: 1481px) {
        max-height: 500px;
        width: auto;
      }
    }

    .blurred {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      filter: blur(20px);
      background-size: cover;
      z-index: 0;
    }
  }

  .overview {
    padding: 2em 0;

    .btn {
      &:nth-of-type(2) {
        @include button($color-blue, $color-blue-dark);

        html[data-contrast="true"] & {
          background: $color-black;

          &:hover {
            background: #fff;
            color: #000;
          }
        }
      }

      &:nth-of-type(3) {
        @include button($color-green, $color-green-dark);

        html[data-contrast="true"] & {
          background: $color-black;

          &:hover {
            background: #fff;
            color: #000;
          }
        }
      }

      &:nth-of-type(4) {
        @include button($color-yellow, $color-yellow-dark);

        html[data-contrast="true"] & {
          background: $color-black;

          &:hover {
            background: #fff;
            color: #000;
          }
        }
      }
    }
  }

  .services {
    background: $color-blue-light;
    padding: 2em 0;

    html[data-contrast="true"] & {
      background: $color-black;
      border-top: 1px solid $color-white;
      border-bottom: 1px solid $color-white;
    }

    .service-item {
      height: 250px;
      position: relative;
      background-size: cover;
      margin-bottom: 1em;
      box-shadow: $boxshadow;

      h3 {
        background: $color-white;
        padding: 1em;
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;

        html[data-contrast="true"] & {
          background: $color-black;
          border: 1px solid $color-white;
        }
      }
    }
  }

  .featured-post {
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: top;
      box-shadow: $boxshadow;
    }
  }
}
