h1 {
  font-size: $size-extralarge;
  text-transform: uppercase;
  text-align: center;
  color: $color-blue;
}

h2 {
  font-size: $size-large;
  text-transform: uppercase;
  text-align: center;
  color: $color-blue;
}

h3 {
  font-size: $size-medium;
  color: $color-blue;
}

a {
  color: $color-blue;
}
