footer {
  background: $color-blue;
  color: $color-white;
  padding: 5px 1em;
  font-weight: 300;
  padding-top: 1.5em;

  html[data-contrast="true"] & {
    background: $color-black;
    border-top: 1px solid $color-white;
  }

  .m4:nth-of-type(2) {
    text-align: center;
  }

  .m4:nth-of-type(3) {
    text-align: right;

    @media #{$small-and-down} {
      text-align: left;
    }
  }

  .row {
    margin-bottom: 0;
  }

  .textwidget p {
    margin: 0;
  }
}

.footer-copyright {
  background: $color-blue-dark;
  color: $color-white;
  font-weight: 300;
  font-size: $size-small;
  padding: 5px 1em;

  html[data-contrast="true"] & {
    background: $color-black;
    border-top: 1px solid $color-white;
  }

  a {
    color: white;
  }

  .row {
    margin-bottom: 0;
  }

  .m4:nth-of-type(2) {
    text-align: center;
  }
}

.footer-cta {
  background: $color-blue-light;
  text-align: center;

  html[data-contrast="true"] & {
    background: $color-black;
  }

  .btn {
    font-size: 1.5em;
    line-height: 12px;
  }
}
