header {
  .logo-container {
    text-align: right;
    padding: 0;

    @media #{$small-and-down} {
      display: block;
      margin: 0 auto;
    }
  }
}

.page-header {
  height: 400px;
  position: relative;
  background-size: cover;
  background-position: center;

  h1 {
    position: absolute;
    bottom: 10px;
    width: 100%;
    background: $color-blue-light;
    padding: 10px;
  }
}
