header {
  .logo-container {
    text-align: right;
    padding: 0;
    padding-right: 0 !important;

    @media #{$large-and-down} {
      text-align: center;
      display: block;
      margin: 0 auto;
    }
  }
}

header, nav {
  a {
    text-decoration: none;

    &:hover, &:focus, &:active {
      color: $color-white;
      text-decoration: underline;
    }
  }
}

.page-header {
  h1, h2 {
    @extend h1;

    bottom: 10px;
    width: 100%;
    padding: 10px;
    padding: 40px;
    margin-top: 0;
    color: $color-blue-dark;
    background: $color-blue-light;

    html[data-contrast="true"] & {
      background: $color-black;
    }
  }
}
