.member {
  margin-bottom: 2em;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  h3 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.staff-member {
  margin: 2em 0;

  h2, h3 {
    margin: 0;
  }

  .bio-facts {
    h3 {
      color: $color-orange-dark;
    }

    ul {
      // padding-left: 0 !important;
      margin: 0;
    }

    li {
      margin: 0;

      &::before {
        font-size: 15px;
        margin-right: 0;
      }
    }
  }
}

.template-resources {
  .page-header h1 {
    margin-bottom: 0;
  }

  .facetwp-sort select {
    margin-bottom: 0;
  }
}
