.member {
  margin-bottom: 2em;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  h3 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.staff-member {
  margin: 2em 0;

  #bio-facts {
    ul {
      padding-left: 0 !important;
      margin: 0;
    }

    li {
      margin: 0;

      &::before {
        font-size: 15px;
        margin-right: 0;
      }
    }

    p {
      text-decoration: underline;
    }
  }
}

hr:last-of-type {
  display: none;
}
